.book_form{
    
    margin-top: 50px;
    font-size: 20px;
    margin-left: 400px;
}
body {
    background-image:url("apoint.png") ;
    background-repeat: no-repeat;
    background-size: 1500px 900px;
  }
.button_submit{
    background-color: aquamarine;
    margin-top: 40px;
    border-radius: 10px;
}
.container-fluid{
    background-color: rgb(211, 235, 30);
    font-size: large;

}
.navbar-nav {
    float: right;
}

